<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sos">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".user.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sos"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ambulance.ViewPatientActivity"
            android:exported="true"
            android:theme="@style/Theme.Sos" />
        <activity
            android:name=".ambulance.AddParamedicActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.ModifyParamedicActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.LoadParamedicActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.LoadHospitalActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.LoadAmbulanceActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.DetailParamedicActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.DetailHospitalActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.AddPatientActivity"
            android:exported="true" />

        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginMainActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.RegisterAmbulanceActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.AmbulanceMainActivity"
            android:exported="true" />
        <activity
            android:name=".ambulance.LoginAmbulanceActivity"
            android:exported="true" />

        <activity
            android:name=".user.UserMapActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserReceptionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 딥링크 처리할 데이터 -->
                <data
                    android:host="play.google.com"
                    android:pathPrefix="/store/apps/details"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuestSearchReceptionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kakaolink"
                    android:scheme="kakao68695b0d022c083d3448cec3ccbacb8a" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/scheme_kakao_app_key" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="68695b0d022c083d3448cec3ccbacb8a" />
        <meta-data
            android:name="com.kakao.vectormap.KAKAO_MAP_KEY"
            android:value="68695b0d022c083d3448cec3ccbacb8a" />
    </application>

</manifest>