<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sos"
        tools:targetApi="31"
        android:name=".GlobalApplication"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="68695b0d022c083d3448cec3ccbacb8a" />

        <activity
            android:name=".RegisterAmbulanceActivity"
            android:exported="false" />
        <activity
            android:name=".SelectLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginAmbulanceActivity"
            android:exported="false" />
        <activity
            android:name=".UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginUserActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/scheme_kakao_app_key"
                    android:host="oauth" />
            </intent-filter>
        </activity>

        <!-- 카카오맵 네이티브 앱 키 -->
        <!--  <meta-data -->
        <!--         android:name="com.kakao.sdk.AppKey" -->
        <!--        android:value="ea469f6e0a9290fb5a6cc45e08ecdf37" /> -->

    </application>

</manifest>


